<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
	<div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" title="username" placeholder="Username" name="username" />
    <input type="password" title="username" placeholder="Password" name="password" />
    <a class="forgot" href="/register">Don't have an account?</a>
    <button type="submit" class="btn">Login</button>
  </form>
</div><!--end log form -->
</body>
</html>