<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script type="text/javascript">
    function myFunc(vars) {
    return vars
}
    let mes = myFunc( {{message|tojson}} )

    window.onload = () => mes !== "" && mes != "Sucessfully Registered" ? Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: mes}) : mes == "Sucessfully Registered" ? Swal.fire({
        icon: 'success',
        title: 'Congratulation',
        text: mes}) : console.log("");
    
  </script>
  <script type="text/javascript">
    function check(){
        let form = document.querySelector("#form");
        let regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})/;
        let passw = document.querySelector("#passw").value;
        let cpass = document.querySelector("#cpassw").value;
        if (passw != cpass){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: "Password doesn't match!"})

        }else if(!regex.test(passw)){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Insecure Password!'})
        }else{
          form.submit()
        }
    }
  </script>
</head>
<body>
	<div class="log-form">
  <h2>Register to your account</h2>
  <form method="post" id="form" onsubmit="event.preventDefault()">
    <input type="text" title="username" placeholder="Full Name" name="fullname" id="fname" />
    <input type="text" title="username" placeholder="Username" name="username" id="uname" />
    <input type="password" title="username" placeholder="Password" name="password" id="passw" />
    <input type="password" title="username" placeholder="Confirm Password" name="confirm" id="cpassw" />
<a class="forgot" href="/login">Already have an account?</a>
    <button class="btn" onclick="check()">Register</button>
            
  </form>
</div><!--end log form -->
</body>
</html>
